@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
@font-face{
	src: url(./font/digital-7.ttf);
	font-family: LED;
}
body{
    background-color: rgb(203, 251, 251);
    ;
}

*{
    margin: 0;
    padding: 0;
}
#box{
    position: absolute;
    width: 450px;
    height: 666px;
    left: 663px;
    top: 96px;
    z-index: 3;
    background-image: linear-gradient(to bottom, #fff6c8 0%, #f5e28c 100%);
    box-sizing: border-box;
    border-radius: 19px;
}

body {
    color: red;
    text-align: center;
}
.back span{
    position: absolute;
    font-size: 40px;
    color: #ea2626;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 142px;
    bottom: 603px;
    font-weight: bold;
}
.back a{
    position: absolute;
    color: #000;
    font-size: 20px;
    left: 22px;
    top: 31px;
}

#lvs {
   
    position: absolute;
    top: 61px;
    left: 42px;

}
h2 {
    margin-top: 284px;
    margin-left: -160px;
    font-size: 25px;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    margin-top: -229px;
   margin-left: 257px;
    font-size: 25px;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: -284px;
    margin-left: 33px;
    font-size: 25px;
    color: #000000;
}
#gas {
   
    position: absolute;
    top: 119px;
    left: 288px;

}
#denId_01{
    
    position: absolute;
    top: 339px;
    left: 55px;

}
#denId_02{
    
    position: absolute;
    top: 339px;
    left: 250px;

}

#btnOnId_01{
    
    position: absolute;
    top: 520px;
    left: 210px;

}
#btnOffId_01{
    
    position: absolute;
    top: 520px;
    left: 238px;

}

#btnOnId_02{
    
    position: absolute;
    top: 545px;
    left: 210px;

}
#btnOffId_02{
    
    position: absolute;
    top: 545px;
    left: 238px;

}